---
import BaseLayout from '../layouts/BaseLayout.astro'

import ContactCTA from '../components/ContactCTA.astro'
import Hero from '../components/Hero.astro'
---

<BaseLayout
  title="About | Alaeddine Douagi"
  description="About Alaeddine Douagi - Senior Full Stack JavaScript Developer specializing in Angular, React.js, Node.js, and MongoDB"
>
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="About"
        tagline="Thanks for stopping by. Read below to learn more about myself and my background."
      >
        <img
          width="1553"
          height="873"
          src="/assets/at-work.webp"
          alt="Alaeddine in Düsseldorf Altstadt"
        />
      </Hero>
      <section>
        <h2 class="section-title">Background</h2>
        <div class="content">
          <p>
            As a Senior Full Stack JavaScript Developer with expertise in
            Frontend Development, I build dynamic and scalable web applications
            using modern JavaScript frameworks and technologies. I focus on
            performance, usability, and leveraging cutting-edge tools to deliver
            impactful solutions. Over the past few years, I've delivered
            multiple successful projects with the support of my colleagues.
          </p>
          <p>
            Currently at <a
              href="https://www.publicismedia.de"
              target="_blank"
              rel="noopener noreferrer">Publicis Media Germany</a
            >, I contribute to innovative digital solutions and campaign
            platforms. Previously, I worked at
            <a
              href="https://metro-markets.de"
              target="_blank"
              rel="noopener noreferrer">Metro Markets GmbH</a
            >, where I helped maintain and enhance one of the leading B2B
            e-commerce marketplaces in Europe, improving customer satisfaction
            and retention.
          </p>
          <p>
            I've been working in web development since 2016, collaborating with
            various clients and technologies. I'm particularly experienced in
            crafting polished, user-friendly web interfaces that deliver
            excellent user experiences. I'm passionate about staying ahead of
            tech trends, solving complex problems, and working with talented,
            diverse teams.
          </p>
        </div>
      </section><section>
        <h2 class="section-title">Education</h2>
        <div class="content">
          <p>
            Bachelor's Degree in Computer Science — Université de Tunis El Manar
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Certifications</h2>
        <div class="content">
          <p>
            Certified Node.js Developer through The Linux Foundation (JSNAD and
            JSNSD)
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Skills</h2>
        <div class="content">
          <p>
            JavaScript, TypeScript, Modern Frontend Frameworks, Backend
            Technologies, CSS, Cloud Platforms
          </p>
        </div>
      </section>
    </main>
  </div>
</BaseLayout>

<ContactCTA />

<style>
  @reference "../styles/tailwind.css";

  .about {
    @apply flex flex-col gap-14;
  }

  img {
    /* box-shadow: var(--shadow-md); */
    @apply mt-6 rounded-3xl shadow-md;
  }

  section {
    color: var(--gray-200);
    @apply flex flex-col gap-2;
  }

  .section-title {
    /* font-size: var(--text-xl); */
    /* color: var(--gray-0); */
    @apply col-start-1 text-xl;
  }

  .content {
    /* grid-column: 2 / 4; */
    @apply col-[2/4];
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      @apply grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      @apply col-start-2;
    }

    section {
      @apply contents text-lg;
    }
  }
</style>
