<script is:inline>
  // This code is inlined in the head to make dark mode instant & blocking.
  const getTheme = () => {
    if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
      return localStorage.getItem('theme')
    }
    return window.matchMedia('(prefers-color-scheme: dark)').matches
      ? 'dark'
      : 'light'
  }

  ;(function () {
    const isDark = getTheme() === 'dark'
    const script = document.createElement('script')
    script.src = 'https://giscus.app/client.js'
    script.dataset.repo = 'AlaDouagi/aladouagi.com-v2'
    script.dataset.repoId = 'R_kgDOMEL64g'
    script.dataset.category = 'Blog Posts Comments'
    script.dataset.categoryId = 'DIC_kwDOMEL64s4Cg_Uz'
    script.dataset.mapping = 'url'
    script.dataset.strict = '0'
    script.dataset.reactionsEnabled = '1'
    script.dataset.emitMetadata = '0'
    script.dataset.inputPosition = 'bottom'
    script.dataset.theme = isDark ? 'purple_dark' : 'light'
    script.dataset.lang = 'en'
    script.dataset.loading = 'lazy'
    script.crossOrigin = 'anonymous'
    script.async = true
    document.body.appendChild(script)
  })()
</script>

<section class="giscus mx-auto mt-10 w-full"></section>
