---
import Icon from './Icon.astro'
---

<section class="box skills">
  <div class="stack gap-2 lg:gap-4">
    <Icon
      icon="terminal-window"
      color="var(--accent-regular)"
      size="2.5rem"
      gradient
    />
    <h2>Frontend Expert</h2>
    <p>
      Senior Full Stack JavaScript Developer with deep expertise in frontend
      development. I craft polished, user-friendly web interfaces that deliver
      excellent user experiences.<br />Specializing in dynamic web applications
      using modern frameworks, focusing on performance and cutting-edge
      technologies.
    </p>
  </div>
  <div class="stack gap-2 lg:gap-4">
    <Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
    <h2>Proven Experience</h2>
    <p>
      Over {new Date().getFullYear() - 2016} years in web development since 2016,
      delivering successful projects with various clients and technologies.<br
      />Currently contributing to innovative digital solutions at Publicis Media
      Germany and previously enhanced Europe's leading B2B marketplace at Metro
      Markets.
    </p>
  </div>
  <div class="stack gap-2 lg:gap-4">
    <Icon
      icon="strategy"
      color="var(--accent-regular)"
      size="2.5rem"
      gradient
    />
    <h2>Problem Solver</h2>
    <p>
      Passionate about staying ahead of tech trends and solving complex problems
      through hands-on collaboration with talented, diverse teams.<br
      />Real-world experience transforming challenging technical requirements
      into impactful solutions that meet ambitious business objectives.
    </p>
  </div>
</section>

<style>
  .box {
    border: 1px solid var(--gray-800);
    border-radius: 0.75rem;
    padding: 1.5rem;
    background-color: var(--gray-999_40);
    box-shadow: var(--shadow-sm);
  }

  .skills {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .skills h2 {
    font-size: var(--text-lg);
  }

  .skills p {
    color: var(--gray-400);
  }

  @media (min-width: 50em) {
    .box {
      border-radius: 1.5rem;
      padding: 2.5rem;
    }

    .skills {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 5rem;
    }

    .skills h2 {
      font-size: var(--text-xl);
    }
  }
</style>
